/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
*/

/*= require foundation */

@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */
$include-html-top-bar-classes: $include-html-classes;

/* MY STYLES */

#task-container{
  width:80%;
  float:right;
  font-size: 1.2rem; 
  position: relative;
}

/* styles for the top bar */

/* Background color for the top bar */
$topbar-bg: #111;

/* Height and margin */
$topbar-height: 45px;
$topbar-margin-bottom: rem-calc(30);

/* Control Input height for top bar */
$topbar-input-height: 2.45em;

/* Controlling the styles for the title in the top bar */
$topbar-title-weight: bold;
$topbar-title-font-size: rem-calc(17);

/* Style the top bar dropdown elements */
$topbar-dropdown-bg: #222;
$topbar-dropdown-link-color: #fff;
$topbar-dropdown-link-bg: #333;
$topbar-dropdown-toggle-size: 5px;
$topbar-dropdown-toggle-color: #fff;
$topbar-dropdown-toggle-alpha: 0.5;

/* Set the link colors and styles for top-level nav */
$topbar-link-color: #fff;
$topbar-link-color-hover: #fff;
$topbar-link-color-active: #fff;
$topbar-link-color-active-hover: #fff;
$topbar-link-weight: normal;
$topbar-link-font-size: rem-calc(13);
$topbar-link-hover-lightness: -10%; // Darken by 10%
$topbar-link-bg-hover: #272727  ;
$topbar-link-bg-active: $primary-color;
$topbar-link-bg-active-hover: scale-color($primary-color, $lightness: -14%);
$topbar-link-font-family: $body-font-family;

$topbar-dropdown-label-color: #555;
$topbar-dropdown-label-text-transform: uppercase;
$topbar-dropdown-label-font-weight: bold;
$topbar-dropdown-label-font-size: rem-calc(10);

/* Top menu icon styles */
$topbar-menu-link-transform: uppercase;
$topbar-menu-link-font-size: rem-calc(13);
$topbar-menu-link-weight: bold;
$topbar-menu-link-color: #fff;
$topbar-menu-icon-color: #fff;
$topbar-menu-link-color-toggled: #888;
$topbar-menu-icon-color-toggled: #888;

/* Transitions and breakpoint styles */
$topbar-transition-speed: 300ms;
$topbar-breakpoint: #{lower-bound($medium-range)} !default; // Change to 9999px for always mobile layout
$topbar-media-query: $medium-up !default;

/* Divider Styles */
$topbar-divider-border-bottom: solid 1px  scale-color($topbar-bg-color, $lightness: 13%);
$topbar-divider-border-top: solid 1px scale-color($topbar-bg-color, $lightness: -50%);

/* Sticky Class */
$topbar-sticky-class: ".sticky";
$topbar-arrows: true; //Set false to remove the triangle icon from the menu item

/* STYLES FOR SIDEBAR */
$include-html-nav-classes: $include-html-classes;

.side-bar{
   width: 20%;
   float:left;
}

// We use this to control padding.
$side-nav-padding: rem-calc(14 0);

// We use these to control list styles.
$side-nav-list-type: none;
$side-nav-list-position: inside;
$side-nav-list-margin: rem-calc(0 0 7 0);

// We use these to control link styles.
$side-nav-link-color: $primary-color;
$side-nav-link-color-active: scale-color(#000, $lightness: 30%);
$side-nav-font-size: 2.0rem;
$side-nav-font-weight: bold;

// We use these to control border styles
$side-nav-divider-size: 1px;
$side-nav-divider-style: solid;
$side-nav-divider-color: scale-color(#fff, $lightness: -10%);

