<div class="side-bar">
  <p>  Organize by: </p>
  <ul class="side-nav">
    <li><a href="#">Priority</a></li>
    <li><a href="#">Category</a></li>
    <li><a href="#">Due Date</a></li>
    <li><a href="#">Alphabetical</a></li>
    <li><a href="#"><%= link_to "New Task", new_task_path %></a></li>
  </ul>
</div>
